<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
</head>

<body>
    {{>navbar}}
    {{!-- <h1>hello from the HBS site </h1> --}}


    <footer>
        <p>
            Created with <i class="fa fa-heart"></i> by
            <a target="_blank" href="https://florin-pop.com">MonsterMash</a>
            - Know more about me
            <a target="_blank" href="https://github.com/hiteshwagh001/">here</a>.
        </p>
    </footer>

    <script src="js/app.js"></script>
</body>

</html>